* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

:root {
    --base-color: #000000;
    --header-colour:#383e46;
    --nav-text-color: #16a889;
    --text-color: #2af5c9;
    --background-color: #272c32;
    --border-color: #16a889;
    --border-color2:#383e46;
    --link-color: #16a889;
}

#linkedin-icon, #github-icon{
    display: flex;
}

#projects {
    text-align: center;
}


.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.project img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid var(--border-colour);
}

nav {
    display: flex;
    min-height: 8vh;
    background-color: #272c32;
    border-bottom: 3px solid var(--border-color2);
    
}

a {
    font-family: 'Poppins', sans-serif;
    color: var(--nav-text-color);
    text-decoration: none;
}
a :hover {
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
}

.divider {
  
  border-bottom: 3px solid var(--border-color2);
}
